
.boton{
width:35px;
height:35px;
border:none;
cursor:pointer;
background-color:#1d1c1d;
display:flex;
justify-content:center;
align-items:center;
border-radius:5px;
}

.contenedorBoton{
display:flex;
justify-content:right;
margin-top:-270px;
}