.sectionCheckbox{
display:flex;
justify-content: center;
gap:50px;
margin-top:20px;
}
.checkbox{
cursor:pointer;
}
.tiempo{
margin-left: 80px;
}
.inputNumber{
border-radius: 10px;
width:100px;
height: 10px;
color:black;
padding:5px;
}
