.sectionCheckbox{
display:flex;
justify-content: space-between;
margin:0px auto;
margin-top:20px;
width: 45%;
}
.checkbox{
cursor:pointer;
}
.tiempo{
margin-left: 80px;
}
.inputNumber{
border-radius: 10px;
width:100px;
height: 10px;
color:black;
padding:5px;
}

@media (max-width:1000px){
.sectionCheckbox{
display: flex;
justify-content: space-between;
white-space:nowrap;
width: 93%;
}}
