.sectionTextarea{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.textarea{
background-color:#181818;
width:850px;
height:250px;
margin-top:250px;
border-radius:5px;
margin-top:240px;
padding:10px 0px 0px 10px;
resize:none;
}
